body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #c0c0c0;
}
.btn-send {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
}

